<%= form_for(payment) do |f| %>
  <% if payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(payment.errors.count, "error") %> prohibited this payment from being saved:</h2>

      <ul>
      <% payment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :amount %>
    <%= f.number_field :amount, placeholder: "00.00", step: :any %>
  </div>

  <div class="field">
    <%= f.label :currency %>
    <%= f.text_field :currency, placeholder: "add currency type here"%>
  </div>

  <div class="field">
    <%= f.label :recipient_id %>
    <%= f.select :recipient_id, options_for_select(Recipient.all.map{|s|[s.name, s.id]}) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
